@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.home-page {
  height: 100%;
  background-color: #f5f5f5;
  &--header {
    @include flex-center-between;
    gap: 20px;
    padding: 6px 16px;
    border-bottom: 1px solid $BASE-LIGHT-GRAY-COLOR;
    &--title {
      font-size: 24px;
      line-height: 36px;
    }
    &--cpi {
      font-weight: 500;
      span:nth-child(1) {
        font-size: 32px;
        line-height: 32px;
      }
      span:nth-child(2) {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  &--body {
    @include flex-center-center;
    padding: 20px;
    height: calc(100% - 49px);
  }
}
